/*
.container {
    width: 60vw;
    border: 2px dashed green;
}
*/

.box {
  width: 200px;
  height: 70px;
  font-family: sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.static {
  position: static;
  left: 40%;
  top: 40%;
  background-color: #ff1d00;
}

.fixed {
  position: fixed;
  top: 20%;
  left: 20%;
  background-color: #ffeb00;
  color: black;
}

.sticky {
  position: sticky;
  top: 30px;
  left: 30px;
  background-color: #ff9ecf;
}

.relative {
  position: relative;
  left: 60%;
  top: 200px;
  background-color: #1fd81f;
}

.absolute {
  position: absolute;
  left: 60%;
  top: 30%;
  background-color: #0180fc;
}
