.container {
  width: 60vw;
  border: 2px dashed green;
  position: relative;
}

.box {
  width: 200px;
  height: 70px;
  font-family: sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.static {
  position: static;
  background-color: #ff1d00;
}

.fixed {
  position: fixed;
  top: 20%;
  left: 75%;
  background-color: #ffeb00;
  color: black;
}

.sticky {
  position: sticky;
  top: 100%;
  left: 100%;
  background-color: #ff9ecf;
}

.relative {
  position: relative;
  background-color: #1fd81f;
}

.absolute {
  position: absolute;
  right: 0%;
  top: 0%;
  background-color: #0180fc;
}
